// variables
$bgDefColor: #333;
$textDefColor: #ffebcd;
$h2FontSize: 36pt;
$textFontSize: 16pt;


$responsiveSize: 992px;

$navbarPaddingTopBot: 2.5rem;

body {
    background-color: $bgDefColor;
    color: $textDefColor;
    border-spacing: 10px;
    font-family: monospace;

    a:link {
        color: rgb(157, 203, 255);
    }
    
    a:visited {
        color: rgb(93, 236, 255);
    }
    
    a:hover {
        color: rgb(93, 255, 174);
    }
    
    a:active {
        color: rgb(0, 255, 128);
    }

}

img:hover {
    opacity: 50%;
}

.navbar{
    padding: $navbarPaddingTopBot 0 $navbarPaddingTopBot;

    font-size: 20pt;
    
    @media only screen and (min-width: $responsiveSize) {
        .nav-item{
            font-size: 20pt;
            padding: 0 1.25rem;
        }

        .nav-item:not(:last-child) {
            border-right: 2px solid $textDefColor;
        }

        .navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
    }
    @media only screen and (max-width: $responsiveSize) {
        padding: $navbarPaddingTopBot/2;

        .navbar-collapse{
            font-size: 20pt;
            padding-top: 1.2rem;
        }
    }
}

.content {
    text-align: center;
    
    @media only screen and (min-width: $responsiveSize){
        
        margin: auto;
        width: 80%;
        border: 5px;
        padding: 4em;
        
    }

    table {
        border: 1rem;
    }
    
    .item{
        padding: 10px;
        border: 5px solid #666666;
        border-radius: 10px;
        display: inline-block;

        #black_tea {
            width: 400px;
        }

        #cafe_au_lait, #matcha_tea, #milkshake {
            width: 300px;
        }

        #mazagran, #chai_tea {
            width: 200px;
        }


    }
    
    img {
        display: block;
        border: 5px solid #666666;
        border-radius: 10px;
        height: 300px;
        width: 150px;
        margin: auto;
        width: 50%;

    }

}

.orderForm{

    h2{
        font-size: $h2FontSize;
        text-align: center;
        padding: 2rem;
    }
    label{
        font-size: $textFontSize;
    }

    table{
        display: flex;
        justify-content: center;
    }
    
    tr, td{
        padding: 10px;

        .description {
            text-align: right;
        }

        .input {
            width: 300px;
        }

        .bar-extend {
            width: 300px;
            border-radius: 10px;
            font-size: $textFontSize;
        }

        .button {
            text-align: center;
            padding-top: 20px;
        }

        button {
            border-radius: 10px;
            font-size: $textFontSize;
        }

    }


} 