/* Override Text */
h1, h2, h3, h4, h5, h6{
    font-family: 'Nanum Pen Script', cursive;
}

p, li{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 13pt;
    font-weight: 700;
}



body {
    padding: 2rem;
    background-color:#deb887;
}

.header {
    padding:1rem 0;
    background-color:#a52a2a70;
    margin-bottom: 2rem;
    text-align: center;
}

.image-carousel {
    padding: 1rem 0 1rem;
    text-align: center;
    color: white;
    background-color: #bb7000a8;
}

.content {
    padding-top: 2rem;
}


img {
    height: 450px;
    width: 750px;
}

img.image-vertical {
    height:450px;
    width: 300px;
}

/* BOOTSTRAP OVERRIDES */

