/* Regular Tags Override */
body {
    background-color: #ccc;
    color: #333;
    border-spacing: 10px;
}

/* Override Text */
h1, h2, h3, h4, h5, h6{
    font-family: 'Nanum Pen Script', cursive;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 13pt;
    font-weight: 700;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}


/* IDs */

#head {
    padding: 3rem 3rem 2rem;
    background-color: #ccc;
}

/* BOOTSTRAP OVERRIDES  */

.display-4, .lead {
    color: #333;
}
h1.display-4 {
    font-size: 52pt;
}
p.lead {
    font-size: 20pt;
}

.container {
    text-align: center;
    padding-bottom: 3rem;
    background-color: #555;
    max-width: 100%;
}

.card{
    background-color: #c59b5c8e;
    color: #333;
    border-radius: 1rem;
    height:95%;
    margin: 1.5rem;
}

.card-title {
    font-size: 28pt;
}

.card-img-top{
    border-radius: 1rem 1rem 0 0;
}

.card-text{
    text-align: justify;
}
