body {
  background-color: #333;
  color: #ffebcd;
  border-spacing: 10px;
  font-family: monospace;
}
body a:link {
  color: #9dcbff;
}
body a:visited {
  color: #5decff;
}
body a:hover {
  color: #5dffae;
}
body a:active {
  color: #00ff80;
}

img:hover {
  opacity: 50%;
}

.navbar {
  padding: 2.5rem 0 2.5rem;
  font-size: 20pt;
}
@media only screen and (min-width: 992px) {
  .navbar .nav-item {
    font-size: 20pt;
    padding: 0 1.25rem;
  }
  .navbar .nav-item:not(:last-child) {
    border-right: 2px solid #ffebcd;
  }
  .navbar .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
@media only screen and (max-width: 992px) {
  .navbar {
    padding: 1.25rem;
  }
  .navbar .navbar-collapse {
    font-size: 20pt;
    padding-top: 1.2rem;
  }
}

.content {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .content {
    margin: auto;
    width: 80%;
    border: 5px;
    padding: 4em;
  }
}
.content table {
  border: 1rem;
}
.content .item {
  padding: 10px;
  border: 5px solid #666666;
  border-radius: 10px;
  display: inline-block;
}
.content .item #black_tea {
  width: 400px;
}
.content .item #cafe_au_lait, .content .item #matcha_tea, .content .item #milkshake {
  width: 300px;
}
.content .item #mazagran, .content .item #chai_tea {
  width: 200px;
}
.content img {
  display: block;
  border: 5px solid #666666;
  border-radius: 10px;
  height: 300px;
  width: 150px;
  margin: auto;
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
