html {
    background-color: #333;
    color: whitesmoke;
    font-family: monospace;
    font-size: 12pt;
    border-spacing: 10px;
}

section {
    width: 100%;
    height: 96vh;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    padding: 12px;
    margin: 10rem;
    border: 5px solid #666666;
    border-radius: 10px;
    display: inline-block;
}

img {
    display: block;
    border: 5px solid #666666;
    border-radius: 10px;
    height: 300px;
    width: 150px;
    margin: auto;
    width: 50%;

}

#milktea {
    width: 350px;
}

#wheatgrass {
    width: 400px;
}

img:hover {
    opacity: 50%;
}

a:link {
    color: rgb(157, 203, 255);
}

a:visited {
    color: rgb(93, 236, 255);
}

a:hover {
    color: rgb(93, 255, 174);
}

a:active {
    color: rgb(0, 255, 128);
}