@charset "UTF-8";
body {
  font-family: monospace;
  background-color: #333;
  color: #ffebcd;
}
body h1 {
  font-size: 20pt;
}
body p {
  font-size: 12pt;
}
body ul {
  list-style-type: none;
}
body ul li::before {
  content: "└";
  margin: 0 10px 0 -20px;
}
body a {
  color: #ccf;
  text-decoration: none;
  font-size: 11pt;
}
body a:hover {
  color: #ff5757;
}
body a:visited {
  color: #eaff52;
}

/*# sourceMappingURL=style.css.map */
