// Man Colors
$bg-color: #333;
$text-color: #ffebcd;

// Navbar
$navbarPaddingTopBot: 2.5rem;

// For Sticky Footer
// html, body {
//     height: 100%;
// }

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

// Main Body
body {

    display: flex;

    flex-direction: column;

    background-color: $bg-color;
    color: $text-color;
    p, label{
        font-family: 'Roboto Condensed', sans-serif; 
    }

    h1, h2, h3, h4, h5, h6, a {
        font-family: 'Roboto Slab', serif;
    }
}



// Navbar Header
.navbar {
    padding-left: 10px;
    font-size: 20pt;

    .nav-link, .nav-dropdown {
        margin: 0 0.5rem;
    }

    .navbar-brand {
        font-size: 24pt;
    }

    .dropdown-menu {
        background-color: #aaaaaa;
    }
}

// Sticky Navbar
.sticky {
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
}

// Jumbotron
.jumbotron {
    background-color: $bg-color;
    padding: 1rem;
    margin-bottom: 0;

    .ds-content {
        margin-bottom: 0;
    }
}

// Carousel
.carousel-item{
    text-align: center;
}

.carousel-item > img {
    height: 700px;
    width: 500px;
}

@media only screen and (max-width: 767px) {
    .carousel-item > img {
        height: 250px;
        // width: 200px;
    }
}

// Footer
hr {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: $text-color;

}

.splitter {
    margin: 1rem;
}

.aboutSection {

    img {
        padding: 1rem 0;
    }

    .content {
        font-size: 20px;
        padding: 1rem 0;
    }
}


.header {
    width: 100%;
    padding-top: 0.5rem;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .card {
        background-color: #c59b5c8e;
        color: #333;
        border-radius: 1rem;
        border: 5px solid #666666;
        margin: 1.5rem;
        padding: 2px;
        
        .card-image {
            border-radius: 1rem 1rem 0 0;
        }

        .image-vert {
            height: 250px;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

    }
}
        
form {

    width: 40%;

    label {
        font-size: 16pt;
    }
    .hidden{
        display: none;
        visibility: hidden;
    }
}