main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #ffebcd;
}
body p, body label {
  font-family: "Roboto Condensed", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6, body a {
  font-family: "Roboto Slab", serif;
}

.navbar {
  padding-left: 10px;
  font-size: 18pt;
}
.navbar .nav-link, .navbar .nav-dropdown {
  margin: 0 0.5rem;
}
.navbar .navbar-brand {
  font-size: 24pt;
}
.navbar .navbar-brand img {
  width: 50px;
}
.navbar .dropdown-menu {
  background-color: #aaaaaa;
}

.sticky {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
}

.jumbotron {
  background-color: #333;
  padding: 1rem;
  margin-bottom: 0;
}
.jumbotron .ds-content {
  margin-bottom: 0;
}

.carousel-item {
  text-align: center;
}

.carousel-item > img {
  height: 700px;
  width: 500px;
}

@media only screen and (max-width: 767px) {
  .carousel-item > img {
    height: 250px;
  }
}
.splitter {
  margin: 1rem;
}

.center {
  text-align: center;
}

.header {
  width: 100%;
  padding-top: 0.5rem;
}

.additional-padding {
  padding-top: 2rem;
}

.tab-content .portrait-image {
  max-width: 50%;
}

.container-navigation-bar a {
  color: #ffebcd;
  font-size: 24pt;
}
.container-navigation-bar .nav {
  justify-content: center;
}
.container-navigation-bar .nav-item {
  flex: 1;
  text-align: center;
}

.form form {
  margin-left: 20px;
  margin-right: auto;
}
.form form label {
  font-size: 16pt;
}
.form form .hidden {
  display: none;
  visibility: hidden;
}

hr {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #ffebcd;
}

footer a {
  color: #ffffff;
  font-family: sans-serif;
}
footer a:hover {
  color: #ffff9b;
  text-decoration: none;
}
footer a:visited {
  color: #8bff8b;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
