main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #ffebcd;
}
body p, body label {
  font-family: "Roboto Condensed", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6, body a {
  font-family: "Roboto Slab", serif;
}

.navbar {
  padding-left: 10px;
  font-size: 20pt;
}
.navbar .nav-link, .navbar .nav-dropdown {
  margin: 0 0.5rem;
}
.navbar .navbar-brand {
  font-size: 24pt;
}
.navbar .dropdown-menu {
  background-color: #aaaaaa;
}

.sticky {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
}

.jumbotron {
  background-color: #333;
  padding: 1rem;
  margin-bottom: 0;
}
.jumbotron .ds-content {
  margin-bottom: 0;
}

.carousel-item {
  text-align: center;
}

.carousel-item > img {
  height: 700px;
  width: 500px;
}

@media only screen and (max-width: 767px) {
  .carousel-item > img {
    height: 250px;
  }
}
hr {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #ffebcd;
}

.splitter {
  margin: 1rem;
}

.aboutSection img {
  padding: 1rem 0;
}
.aboutSection .content {
  font-size: 20px;
  padding: 1rem 0;
}

.header {
  width: 100%;
  padding-top: 0.5rem;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container .card {
  background-color: #c59b5c8e;
  color: #333;
  border-radius: 1rem;
  border: 5px solid #666666;
  margin: 1.5rem;
  padding: 2px;
}
.container .card .card-image {
  border-radius: 1rem 1rem 0 0;
}
.container .card .image-vert {
  height: 250px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 40%;
}
form label {
  font-size: 16pt;
}
form .hidden {
  display: none;
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
