// variables
$bgDefColor: #333;
$textDefColor: #ffebcd;


body {
    font-family: monospace;
    background-color: $bgDefColor;
    color: $textDefColor;

    h1 {
        font-size: 20pt;
    }

    p {
        font-size: 12pt;
    }

    ul {
        list-style-type: none;

        li::before {
            content: '└';
            margin: 0 10px 0 -20px;
        }

    }

   a {
        color: #ccf;
        text-decoration: none;
        font-size: 11pt;
    }
    
    a:hover {
        color: #ff5757;
    }
    
    a:visited {
        color: #eaff52;
    }
    

}









