/////////// VARIABLES ///////////
// Main Colors
$bg-color: #333;
$text-color: #ffebcd;

// Navbar
$navbarPaddingTopBot: 2.5rem;
///////////////////////////////// 


//// UNIVERSAL PAGE SETTING /////
main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

body {

    display: flex;

    flex-direction: column;

    background-color: $bg-color;
    color: $text-color;
    p, label{
        font-family: 'Roboto Condensed', sans-serif; 
    }

    h1, h2, h3, h4, h5, h6, a {
        font-family: 'Roboto Slab', serif;
    }
}
/////////////////////////////////


///////// NAVIGATION BAR ////////
.navbar {
    padding-left: 10px;
    font-size: 18pt;

    .nav-link, .nav-dropdown {
        margin: 0 0.5rem;
    }

    .navbar-brand {
        font-size: 24pt;

        // Favicon Image
        img {
            width: 50px;
        }

    }

    .dropdown-menu {
        background-color: #aaaaaa;
    }
}

// Sticky Navbar
.sticky {
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
}
/////////////////////////////////

/////////// MAIN PAGE ///////////
// Jumbotron
.jumbotron {
    background-color: $bg-color;
    padding: 1rem;
    margin-bottom: 0;

    .ds-content {
        margin-bottom: 0;
    }
}

// Carousel
.carousel-item{
    text-align: center;
}

.carousel-item > img {
    height: 700px;
    width: 500px;
}

@media only screen and (max-width: 767px) {
    .carousel-item > img {
        height: 250px;
        // width: 200px;
    }
}
/////////////////////////////////

///////// ABOUT SECTION /////////
.splitter {
    margin: 1rem;
}

.aboutSection {
    
    img {
        padding: 1rem 0;
    }
    
    .content {
        font-size: 20px;
        padding: 1rem 0;
    }
}
/////////////////////////////////

//////// DRINKS SECTION /////////
.header {
    width: 100%;
    padding-top: 0.5rem;
}

.container {
    padding-top: 0;
    padding-bottom: 2rem;
    
    .card {
        background-color: #c59b5c8e;
        color: $text-color;
        border-radius: 1rem;
        border: 5px solid #666666;
        margin: 1.5rem;
        padding: 2px;
        
        .card-image {
            border-radius: 1rem 1rem 0 0;
        }
        
        .image-vert {
            height: 250px;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}

.container-drinks {
    padding-top: 2rem; 
}

.container-navigation-bar {
    a {
        color: $text-color;
        font-size: 24pt;
    }
    .nav{
        justify-content: center; 
    }
    .nav-item {
        flex: 1;
        text-align: center;
    }
}
//////////////////////////////////

////////// FORM SECTION //////////
.form {
    margin-right: auto;
    margin-left: 20px;
    form {
        
        label {
            font-size: 16pt;
        }
        .hidden{
            display: none;
            visibility: hidden;
        }
    }
} 
//////////////////////////////////

///////////// FOOTER /////////////
hr {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: $text-color;

}

footer {
    a {
        color: #ffffff;
        font-family: sans-serif;
    }
    
    a:hover {
        color: #ffff9b;
        text-decoration: none;
    }
    
    a:visited {
        color: #8bff8b;
        text-decoration: none;
    }
}
///////////////////////////////////